<header style="background-image: url({{image1}});">
  <section class="title">
    <h1>Try Verv for free</h1>
    <img class="close" src={{image2}} />
  </section>
  <section class="list">
    <ul>
      <li>Extr. Obese</li>
      <li>Obese</li>
      <li>Overweight</li>
      <li>Healthy</li>
    </ul>
    <img class="woman" src={{image3}} />
  </section>
  <section class="comments">
    <figure class="scroll">
      <div class="comment1 bg_style">
        <div class="comment_block flex_container">
          <p class="comments_title">Warth a try</p>
          <p class="name">1QueenE</p>
        </div>
        <div class="stars flex_container">
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
        </div>
        <p class="comments_text">By far the best app out there to lose
          weight!💪💪💪</p>
      </div>
      <div class="comment2 bg_style">
        <div class="comment_block flex_container">
          <p class="comments_title">Fantastic!</p>
          <p class="name">lila_lane</p>
        </div>
        <div class="stars flex_container">
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
        </div>
        <p class="comments_text">I can say I am 💯 happy with this app. 15
          pounds off in 30 days!</p>
      </div>
      <div class="comment3 bg_style">
        <div class="comment_block flex_container">
          <p class="comments_title">Great app</p>
          <p class="name">King247</p>
        </div>
        <div class="stars flex_container">
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
          <div>
            <img class="star" src={{image4}} />
          </div>
        </div>
        <p class="comments_text">I'm on my 9th week and my body has changed
          tremendously!</p>
      </div>
    </figure>
  </section>
</header>