<header style="background-image: url({{image1}});">
  <section class="title">
    <h1>Try Verv for free</h1>
    <img class="close" src={{image2}} />
  </section>
  <section class="list">
    <ul>
      <li>Extr. Obese</li>
      <li>Obese</li>
      <li>Overweight</li>
      <li>Healthy</li>
    </ul>
    <img class="woman" src={{image3}} />
  </section>
  <section class="comments">
    <figure class="scroll">
      <div>
        <div class="comment bg_style">
          <div class="comment_block flex_container">
            <p class="comments_title">Warth a try</p>
            <p class="name">1QueenE</p>
          </div>
          <div class="stars flex_container">
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
          </div>
          <p class="comments_text">By far the best app out there to lose
            weight!💪💪💪</p>
        </div>
      </div>
      <div>
        <div class="comment bg_style">
          <div class="comment_block flex_container">
            <p class="comments_title">Fantastic!</p>
            <p class="name">lila_lane</p>
          </div>
          <div class="stars flex_container">
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
          </div>
          <p class="comments_text">I can say I am 💯 happy with this app. 15
            pounds off in 30 days!</p>
        </div>
      </div>
      <div>
        <div class="comment bg_style">
          <div class="comment_block flex_container">
            <p class="comments_title">Great app</p>
            <p class="name">King247</p>
          </div>
          <div class="stars flex_container">
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
            <div>
              <img class="star" src={{image4}} />
            </div>
          </div>
          <p class="comments_text">I'm on my 9th week and my body has changed
            tremendously!</p>
        </div>
      </div>
    </figure>
  </section>
  <section class="prices flex_container">
    <div
      class="price flex_container"
      data-link="https://www.google.com/search?q=1"
    >
      <div class="date">1 <br /> month</div>
      <div class="price_month">$14.99 /<br>month</div>
      <div class="price_month2">month: $14.99</div>
      <div class="discount-bottom"></div>
    </div>
    <div
      class="price flex_container selected"
      data-link="https://www.google.com/search?q=2"
    >
      <div class="orange_bg">SAVE 80%</div>
      <div class="date">12 months</div>
      <div class="price_month">$39.99 <br> per year</div>
      <div class="price_month2">month: $3.33</div>
      <div class="discount-bottom"></div>
    </div>
    <div
      class="price flex_container"
      data-link="https://www.google.com/search?q=3"
    >
      <div class="orange_bg">SAVE 80%</div>
      <div class="date">3 months</div>
      <div class="price_month">$29.99 /<br>3 month</div>
      <div class="price_month2">month: $9.99</div>
      <div class="orange_bg_smole">sale</div>
    </div>
  </section>
  <section class="btn_container">
    <button class="btn">Сontinue</button>
  </section>
  <p class="bottom_text">Recurring billing. Cancel anytime.</p>
</header>